[submodule "JimbosHistories"]
	path = JimbosHistories
	url = https://github.com/Mi1cK/Jimbos-Histories
[submodule "BetterMouseAndGamepad"]
	path = BetterMouseAndGamepad
	url = https://github.com/Kooluve/Better-Mouse-And-Gamepad
[submodule "MikasModCollection"]
	path = MikasModCollection
	url = https://github.com/MikaSchoenmakers/MikasBalatro
[submodule "JokerDisplay"]
	path = JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Better-Mouse-And-Gamepad"]
	path = Better-Mouse-And-Gamepad
	url = https://github.com/Kooluve/Better-Mouse-And-Gamepad
[submodule "smods"]
	path = smods
	url = https://github.com/Steamodded/smods
