*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
__MACOSX

# Windows
ehthumbs.db
Thumbs.db

# Logs and other temporary files
*.log
*.tmp
*.temp
*.bak
*.swp

# Temporary Lovely files
lovely/
